<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMapEcclesias(<%=@ecclesiaToJson%>)
    });
    </script>
<% end %>

<div class="container">
<h1 class="display-1 text-center mt-4 mb-4">List of Ecclesias</h1>

  <%= render 'layouts/ecclesia-list', ecclesia: @ecclesia %>


<%= link_to 'Add Ecclesia', new_ecclesium_path, class: "btn btn-secondary mr-3 my-3" %>


<div id="initMapEcclesias"></div>
</div>
