<% provide :head_tags do %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapHome(<%=@ecclesia%>, <%=@contacts%>)
  });
</script>
<% end %>


<body>


  <div id="mapHome" >

  </div>
  <div class="container" >
    <% unless @ecclesiaNoJson.blank?  %>
    <div class="row mt-5 mb-4">
      <div class="col-12 d-flex align-items-center contact-header">
        <div class="contact-pic"  style = "height: 0rem;"></div>
        <h3>
          Ecclesias
        </h3>
      </div>
    </div>
    <%= render 'layouts/ecclesia-list', ecclesia: @ecclesiaNoJson %>

      <% end %>
      <% unless @contactsNoJson.blank? %>

      <div class="row mt-5 mb-4">
        <div class="col-12 d-flex align-items-center contact-header">
          <div class="contact-pic"  style = "height: 0rem;"></div>
          <h3>
            Contacts
          </h3>
        </div>
      </div>

      <%= render 'layouts/contact-list', contacts: @contactsNoJson %>

        <% end %>



      </div>


    </body>
