<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMapHome(<%=@ecclesia%>, <%=@contacts%>)
    });
    </script>
<% end %>

<div id="map">

</div>
