<div class="container">
  <h1 class="display-1 text-center mt-4 mb-4">List of Contacts</h1>
  <%= render 'full-contact-list', contacts: @contacts %>



<%= link_to 'New Contact', new_contact_path, class: "btn btn-secondary mr-3 my-3" %>
</div>
