// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "variables";
@import "bootstrap";
@import "home";
@import "contacts";
@import "ecclesias";
@import "logInPage";
@import "select2";
@import "select2-bootstrap";

body {
}

table {
  font-size: 20px;
}

form {
  font-size: 18px;
}

textarea.form-control {
  height: 300px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  margin-top: 50px;
  padding: 0;
}

.grey-out-image {
  opacity: 0.4;
}

.font20 {
  font-size: 20px;
}

.hidden {
  display: none;
}
