// Place all the styles related to the Ecclesias controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  width: 100%;
  height: 300px;
  margin-top: 10px;
}
#initMapEcclesiaEdit {
  width: 600px;
  height: 400px;
}
#initMapEcclesias {
  width: 100%;
  height: 400px;
}

.ecclesia-header {
  .ecclesia-pic {
    margin-right: 35px;
    min-width: 8rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.ecclesia-info {
  .ecclesia-info-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .ecclesia-info-label {
    color: #808080;
  }

  .row {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .btn {
    min-width: 100px;
  }
}

.member-info {
  .member-info-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:first-child{
      padding-top: 0rem;
    }

  }

  .member-info-label {
    color: #808080;
  }



  .row {
    &:last-child {
        border-bottom: none;
      }
  }

  .btn {
    min-width: 100px;
  }

}
