.backgroundImage{
  background-image: url("JamaicaWater.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:825px;
}
.logIn {
  padding-top: 60px;
}
