<div class="row">
  <div class="col-12 member-info">
    <% ecclesia.each do |ecclesium| %>
    <div class="row member-info-row">
      <div class="col-sm-3 member-info-label align-self-center">
        <small><%= link_to ecclesium.name, ecclesium %></small>
      </div>
      <div class="col-4 align-self-center pr-5">
        <div class="row">
        <b>Address</b>
        </div>
        <% if ecclesium.postal_address.blank? == false %>
        <div class="row">
          <%= ecclesium.postal_address  %>
        </div>
        <% end %>
      </div>
      <div class="col-5 align-self-center">
        <div class="row">
          <b>Recording Brother</b>
        </div>

          <% if ecclesium.recording_brother_id.blank? == false %>
          <div class="row">
            <%= link_to ecclesium.recording_brother.full_name, ecclesium.recording_brother %>
          </div>
          <% end %>


  <% if ecclesium.recording_brother_id.blank? == false %>
  <div class="row">
    <%= display_contact_phone_number(ecclesium.recording_brother)  %>
  </div>
  <% end %>

      </div>
    </div>
    <% end %>
  </div>

</div>
