<% if current_user %>
<hr/>
<div class="container">
  <div class="row">
    <div class="col  text-center">
      One of two columns
    </div>
    <div class="col  text-center">
      One of two columns
    </div>

  </div>
</div>


<% end %>
